
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Giriş Sayfası</title>

    <!-- Bootstrap CSS -->
    <link href="~/AdminContent/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/AdminContent/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/AdminContent/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/AdminContent/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/AdminContent/css/style.css" rel="stylesheet">
    <link href="~/AdminContent/css/style-responsive.css" rel="stylesheet" />

</head>

<body class="login-img3-body">

    <div class="container">

        <form class="login-form" action="/Admin/LogIn" method="post">
            <div class="login-wrap">
                @if (ViewBag.LogIn=="false")
                {
                    <div class="alert alert-danger" role="alert">
                        Giriş Başarısız
                    </div>
                }
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input name="UserName" type="text" class="form-control" placeholder="Username" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input name="Password" type="password" class="form-control" placeholder="Password">
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Giriş Yap</button>
            </div>
        </form>
    </div>


</body>

</html>
